:root {
	--color-primary-dark: #31261a;
	--color-primary-light: #faf4ea;
	--color-brand-light: #819b57;
	--color-brand-dark: #465929;
}
/* base */
body {
	color: var(--color-primary-dark);
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
ul {
	list-style-type: none;
}
/* Button */
.button {
	color: var(--color-primary-light);
	cursor: pointer;
	border-radius: 8px;
	border: 2px solid var(--color-brand-light);
	background: var(--color-brand-light);
}

.button:hover {
	color: var(--color-brand-dark);
	background-color: transparent;
}
/* Link */
.link {
	color: var(--color-primary-light);
	text-decoration: none;
}

.link:hover {
	color: var(--color-brand-light);
}
/* Hero Section */
.hero-title {
	color: var(--color-primary-light);
	text-align: center;
	font-size: 128px;
	font-weight: 900;
}

.hero-title .accent {
	color: var(--color-brand-light);
}
/* Advantage Section */
.advantages-list {
	color: var(--color-primary-light);
	background-color: var(--color-brand-light);
}

.section-title .accent {
	color: var(--color-brand-dark);
}
/* Traditions section */
.traditions-text .brand {
	color: var(--color-brand-light);
	font-weight: 600;
}

.traditions-text .uppercase {
	text-transform: uppercase;
}
