.button {
	padding: 16px 32px;
	color: var(--color-primary-light);
	cursor: pointer;
	border-radius: 8px;
	border: 2px solid var(--color-brand-normal);
	background-color: var(--color-brand-normal);
	font-weight: 600;
}

.button:hover {
	color: var(--color-brand-dark);
	background-color: transparent;
}
